* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fixed-logo{
    position: fixed;
    width: 70px; 
    bottom: 0;
    right: 0;
}

#container img {
    width: 20rem;
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: 4rem;
}


@media only screen and (max-width: 768px){
    #contact-details {
        width: 100%;
    }

    .contact-card{
        flex: 100%;
    }

    #fixed-logo{
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    #container img {
        width: 15rem;
    }
}

@media only screen and (min-width: 1440px){
    #container img {
        width: 30rem;
    }
}