label, p {
    color: black;
}

h1 {
    font-family: "Oswald",Arial,Helvetica,sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 1rem;
}

#content {
    max-width: 600px;
    padding: 20px;
    background: #fafafa;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.125);
}

.star {
    color: #b33a3a;
}

#register-form #login-q {
    color: #999;
    margin-bottom: 20px;
}

#register-form p a {
    color: #b33a3a;
    display: table;
    margin-top: 10px;
    text-decoration: underline;
    width: 100%;
}

#general-info input {
    width: 50%;
    margin: 0.5rem 0;
    background-color: #fff;
    border: 1px solid #999;
    color: #333;
    /* font-size: 1.4rem; */
    padding: 2%;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(0 0 0 / 8%) inset;
}

#general-info label {
    display: inline-block;
    width: 40%;
    margin: 0 0;
    text-align: left;
}

.approvals {
    margin: 5% 0;
    line-height: 220%;
}

.approvals input {
    display: inline-block;
}

input::placeholder {
    color: #999;
    font-size: 150%;
    transform: translateY(5px);
}

#newsletter, #terms {
    margin: 0.3rem;
    transform: scale(1.5);
}

#general-info input[type="radio"] {
    width: 5%;
    transform: scale(1.5);
}

#general-info #sex label {
    width: 15%;
}

input[type="submit"] {
    border-color: #d11837;
    background-color: #d11837;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: capitalize;
    line-height: 1.5;
    margin: 0.5rem auto;
}

.panel {
    margin: auto auto;
    height: 80%;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 1px 10px 25px black;
    width: 30%;
    min-width: 450px;
    background: #fafafa;
}

#general-info label:first-child {
    display: inline-block;
    width: 30%;
    margin: 0 2%;
    text-align: left;
    float:left;
}

div#sex {
    display: inline-block;
    width: 65%;
    margin: 0 0;
    float: right;
}

@media only screen and (min-width: 992px){
    h1 {
        font-size: 2.5rem;
    }

    input[type="submit"]{
        width: 30%;
    
    }

    #register-form #sex input{
        padding-right:0.5rem;
        transform: none;
    }

    #newsletter, #terms {
        margin: 0.3rem;
        transform: none;
    }

    
}
